main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  font-size: 1.5rem;
}
form input {
  font-size: 1.5rem;
  margin: 4px;
}
form button {
  cursor: pointer;
  font-family: "Black Han Sans", sans-serif;
  border-radius: 5px;
  width: 3.5rem;
  font-size: 1.5rem;
  border: none;
}
form button:hover {
  background-color: #3d4043;
  color: white;
}
#peopleBtn {
  cursor: pointer;
  font-family: "Black Han Sans", sans-serif;
  border-radius: 5px;
  width: 3.5rem;
  font-size: 1.5rem;
}
#peopleBtn:hover {
  background-color: #3d4043;
  color: white;
}
#moneyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin-top: 4rem;
  height: 80vh;
}
#moneyForm input {
  margin: 10px;
}
#all-total {
  font-size: 1.5rem;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: auto;
}
#all-total #total > p {
  margin: 10px;
}
#total-redoButton {
  cursor: pointer;
  font-family: "Black Han Sans", sans-serif;
  border-radius: 5px;
  width: 7.5rem;
  font-size: 1.5rem;
  border: none;
  margin: 20px;
}
#total-redoButton:hover {
  background-color: #3d4043;
  color: white;
}

@media only screen and (min-width: 2560px) {
  form,
  form input,
  form button {
    font-size: 4rem;
  }
  form button {
    width: 12rem;
  }
  #peopleBtn {
    font-size: 4rem;
    width: 12rem;
  }
  #all-total {
    font-size: 4rem;
  }
  #total-redoButton {
    font-size: 4rem;
    width: 18rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
  form,
  form input,
  form button {
    font-size: 3rem;
  }
  form button {
    width: 9rem;
  }
  #peopleBtn {
    font-size: 3rem;
    width: 9rem;
  }
  #all-total {
    font-size: 3rem;
  }
  #total-redoButton {
    font-size: 3rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  form,
  form input,
  form button {
    font-size: 2.5rem;
  }
  form button {
    width: 7rem;
  }
  #peopleBtn {
    font-size: 2.5rem;
    width: 7rem;
  }
  #all-total {
    font-size: 2.5rem;
  }
  #total-redoButton {
    font-size: 2.5rem;
    width: 13.5rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  form,
  form input,
  form button {
    font-size: 1rem;
  }
  form button {
    width: 4rem;
  }
  #peopleBtn {
    font-size: 1rem;
    width: 4rem;
  }
  #all-total {
    font-size: 1rem;
  }
  #total-redoButton {
    font-size: 1rem;
    width: 8rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  form,
  form input,
  form button {
    font-size: 1rem;
  }
  form button {
    width: 3rem;
  }
  #peopleBtn {
    font-size: 1rem;
    width: 3rem;
  }
  #all-total {
    font-size: 1rem;
  }
  #total-redoButton {
    font-size: 1rem;
    width: 6rem;
  }
}
@media only screen and (max-width: 320px) {
  form,
  form input,
  form button {
    font-size: 0.6rem;
  }
  form button {
    width: 2.5rem;
  }
  #peopleBtn {
    font-size: 0.6rem;
    width: 2.5rem;
  }
  #all-total {
    font-size: 0.6rem;
  }
  #total-redoButton {
    font-size: 0.6rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 167px) {
  form input {
    width: 3rem;
  }
}
