@import "./reset.css";

@import "./header.css";
@import "./main.css";
@import "./footer.css";

body {
  font-family: "Black Han Sans", sans-serif;
}
button {
  cursor: pointer;
}
#total-redoButton {
  display: none;
}
